

$primaryColor: #131e38;
$seconderyColor: #f87a46;
$orange: #f87a46;
$yellow: #feb933;
$headerFontColor: #111111;
$fontColor: #686868;
$white: #ffffff;
$black: #000000;
$grey: #fafafe;
$grey2: #cecece;


$bodyFont: 'Roboto', sans-serif;
